.recipy-finder-container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
}

.recipy-finder-form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.recipy-finder-form input[type="text"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.recipy-finder-form button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
}

.recipy-finder-form button[type="submit"]:hover {
    background-color: #0056b3;
}

.recipy-finder-list {
    width: 40%;
    list-style-type: none;
    padding: 0;
}

.recipy-finder-list li {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    margin-bottom: 10px;
    border: 1px solid #dfe1e5;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 0.01em;
    border-radius: 18px;
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
}

.recipy-finder-list li button {
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    margin-left: 10px;
}