.receptify-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 0;
  padding-top: 0px;
  background-color: white;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.content-wrapper {
  margin-top: calc(50px + 2em); /* Height of NavigationBar + height of "Receptify" heading */
  padding-top: 1em; /* Adjust as needed */
}


